<h1>Listing translations</h1>

<table>
  <tr>
    <th>Mail</th>
    <th>Subject</th>
    <th>Body</th>
    <th>Created at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @translations.each do |translation| %>
  <tr>
    <td><%= translation.post_id %></td>
    <td><%= translation.subject %></td>
    <td><%= translation.body %></td>
    <td><%= translation.created_at %></td>
    <td><%= link_to 'Show', translation %></td>
    <td><%= link_to 'Edit', edit_translation_path(translation) %></td>
    <td><%= link_to 'Destroy', translation, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Translation', new_translation_path %>
